.contacts {
  position: relative;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
  }
}

.contacts__wrapper {
  margin: 0 auto;
  padding-top: 43px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 13px;
  width: 280px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    width: 100%;
  }
}

.contacts__title {
  display: block;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 570px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    width: auto;
  }
}

.contacts__item {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.contacts__item_center {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    margin-bottom: 16px;
  }
}

.contacts__item_second {
  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.contacts__item_third {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.contacts__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.contacts__descr {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: $redColor;
  text-align: center;
  transition: .2s;

  &:hover {
    color: $mainColor;
  }

  &:active {
    color: $mainColor;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    margin: 0 auto;
  }
}

.contacts__descr-text {
  &:hover {
    border-bottom: 1px solid $mainColor;
  }

  &:active {
    border-bottom: none;
  }
}

.contacts__descr_width {
  margin-top: 3px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-top: 6px;
    width: 250px;
  }
}
