.contacts__title {
  display: block;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
    font-size: 40px;
    line-height: 48px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 570px;
  }
}

.contacts__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.contacts__item_center {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
  }
}

.contacts__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 2px;
  }
}

.contacts__descr {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: $redColor;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin: 0 auto;
  }
}
