.copyright {
  display: flex;
  text-align: center;
  margin-top: 41px;
  margin-left: 75px;
  letter-spacing: 0.3px;

  @media (min-width: $tablet-width) {
    margin-left: 92px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
    margin-left: 227px;
    letter-spacing: 0.4px;
  }
}

.copyright__text {
  margin-right: 9px;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    margin-right: 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.copyright__link {
  @media (min-width: $tablet-width) {
    display: inline-block;
  }

  &:hover {
    fill: #000;
  }

  &:active {
    fill: #000;
    opacity: 0.3;
  }
}

.copyright__link--htmlacademy {
  padding-left: 5px;
  fill: $redColor;
  transition: .3s;

  &:hover {
    fill: #000;
  }

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    padding-left: 9px;
  }
}
