.copyright {
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-right: 42px;
    letter-spacing: 0.3px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
    padding-right: 40px;
    letter-spacing: 0.4px;
  }
}

.copyright__text {
  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}
