.information {
  margin-bottom: 50px;
}

.information__promo {
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;
  color: $mainColor;
  text-align: center;
}

.information__wrapper {
  background-color: #f2f2f2;
}

.information__list {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  min-height: 700px;
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 108%;
  list-style: none;
}

.information__item {
  margin-bottom: 30px;
}

.information__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.information__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .information__promo {
    font-size: 40px;
  }
  .information {
    min-height: 620px;
  }
  .information__wrapper {
    height: 490px;
  }
  .information__inner {
    display: flex;
    margin: 0 auto;
    width: 620px;
  }
  .information__list {
    margin-left: auto;
    width: 310px;
    min-height: 410px;
    background-image: none;
    outline: 1px solid red;
  }
}

@media (min-width: $desktop-width) {
  .information {
    margin-bottom: 0;
  }
  .information__promo {
    font-size: 50px;
  }
  .information__wrapper {
    padding-bottom: 50px;
    height: 680px;
  }
  .information__inner {
    display: flex;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;
  }
  .information__list {
    display: flex;
    justify-content: space-around;
    width: 960px;
  }
  .information__item {
    width: 245px;
    height: 570px;
    outline: 1px solid red;
  }
}
