.intro {
  margin-bottom: 46px;
  background-color: $mainColor;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
    min-height: 730px;
    background-image:
    url("../../img/iphone-hand-mobile@1x.png"),
    url("../../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: right bottom, 0 0;
    background-size: auto, cover;
  }

  @media (min-width: $desktop-width) {
    min-height: 953px;
  }
}

.intro__container {
  display: flex;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 462px;
  background-image:
    url("../../img/iphone-hand-mobile@1x.png"),
    url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: left bottom, 0 0;

  @media (min-width: $tablet-width) {
    width: 620px;
    height: 92px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;
  }
}
