.main-nav {
  position: relative;
  margin-left: auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }
}
