.map {
  position: relative;
  max-height: 200px;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    border-style: solid;
    border-width: 34px 160px 0 160px;
    border-color: #ffffff transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%);
  }
}

.map_enlarge {
  display: block;
  height: 100%;
}

.map__wrapper {
  position: relative;
}

.map__image {
  position: relative;
  top: -445px;
  width: 100%;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .map {
    max-height: 375px;

    &::before {
      border-width: 70px 330px 0 330px;
    }
  }

  .map__wrapper {
    &::before {
      top: 193px;
    }
  }

  .map__image {
    top: -319px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    max-height: 504px;

    &::before {
      border-width: 100px 600px 0 600px;
    }
  }

  .map__wrapper {
    &::before {
      top: 263px;
    }
  }

  .map__image {
    top: -275px;
  }
}
