.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 66px;
  background-color: rgba(29, 38, 50, 0.4);

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }
}

.page-header_closed {
  position: absolute;
}

.page-header_opened {
  position: relative;
  background-color: $mainColor;
  border-bottom: 1px solid #000000;
}

.page-header_inner {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    min-height: 440px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
  }
}

.page-header__logo {
  position: relative;
  margin-top: 22px;
  margin-bottom: 17px;
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}
