.page-header {
  height: 462px;
  background-color: $mainColor;
  background-image:
    url("../../img/iphone-hand-mobile@1x.png"),
    url("../../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
  background-position: left bottom, 0 0;
}

.page-header_inner {
  margin-bottom: 50px;
  height: 237px;
  background-image:url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__background {
  position: absolute;
  width: 320px;
  height: 66px;
  background-color: $mainColor;
  opacity: 0.3;
}

.page-header__logo {
  position: relative;
}

.page-header__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #fff;
  text-align: center;
}
