.photo__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.photo {
  margin-bottom: 21px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 16px;
    margin-bottom: 53px;
  }
}

.photo:nth-child(2n) {
  margin-right: 0;

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.photo:nth-child(3n) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.photo__img {
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: auto;
  }
}

.photo__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: -6px;
  padding-top: 24px;
  padding-left: 17px;
  padding-bottom: 21px;
  background-color: $grayBg;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-left: 27px;
  }
}

.photo__name {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.photo__time {
  padding-left: 4px;
}

.photo__descr {
  margin: 0;
  margin-bottom: 8px;
  width: 100%;
  letter-spacing: 0.3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
    padding-right: 25px;
  }
}

.photo__descr_margin {
  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }
}

.photo__like {
  order: 2;
  font-size: 12px;
  color: $redColor;
  letter-spacing: 0.3px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.photo__svg {
  order: 1;
  padding-top: 6px;
  padding-left: 1px;
  margin-right: 19px;
  fill: $redColor;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-left: auto;
    padding-right: 13px;
  }
}
