.price {
  margin-bottom: 45px;
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #f2f2f2;
}

.price__wrapper {
  display: flex;
}

.price__item {
  margin: 0 auto;
  width: 280px;
}

.price__package {
  background-color: $mainColor;
}

.price__package-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.price__package-value {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #ffffff;
}

.price__text {
  line-height: 30px;
  text-transform: uppercase;
}

.price__item_first {
  display: none;
}

.price__item_base {
  display: none;
}

.price__item_unlim {
  display: none;
}

@media (min-width: $tablet-width) {
  .price__wrapper {
    margin: 0 auto;
    width: 620px;
    outline: 1px solid red;
  }

  .price__item_first {
    display: table;
  }

  .price__item_base {
    display: table;
  }

  .price__item_unlim {
    display: table;
  }
}

@media (min-width: $desktop-width) {
  .price__wrapper {
    width: 960px;
  }

  .price__item_first {
    display: table;
  }

  .price__item_base {
    display: table;
  }

  .price__item_unlim {
    display: table;
  }
}
