.price {
  padding-top: 93px;
  padding-bottom: 45px;
  background: linear-gradient(175deg, #ffffff 0%, #ffffff 10%, $grayBg 10%);

  @media (min-width: $tablet-width) {
    padding-top: 84px;
    padding-bottom: 30px;
    background: linear-gradient(176deg, #ffffff 0%, #ffffff 12%, $grayBg 12%);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
    padding-bottom: 95px;
    background: linear-gradient(175deg, #ffffff 0%, #ffffff 24%, $grayBg 24%);
  }
}

.price__wrapper {
  margin-bottom: 47px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-top: 69px;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
  }
}

.price__table {
  margin: 0 auto;
  padding-top: 65px;
  transform: translateX(-260px);
}

.price-table {
  text-transform: uppercase;
  padding-bottom: 40px;
  border-collapse: collapse;
  width: 840px;
}

.price-table__cell {
  width: 278px;
  background-color: #ffffff;
  border: 1px solid #bec2c7;
  padding: 18px 22px 17px 22px;
  position: relative;

  &--wide {
    display: none;

    &::after {
      display: none;
    }
  }
}

.price-table__image {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 15px;
  right: 15px;

  &--yes {
    fill: #2aab6d;
  }

  &--no {
    fill: $redColor;
  }
}

.price-table__header {
  background-color: #1d2631;
  width: 280px;
  padding: 19px 0;
  border: 1px solid #bec2c7;

  &--hit {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 73px;
      width: 73px;
      top: 0;
      left: 0;
      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
    }

    &::after {
      content: "Хит";
      position: absolute;
      display: block;
      height: 73px;
      width: 73px;
      color: #ffffff;
      transform: rotate(-45deg);
      top: 8px;
      left: 5px;
    }
  }

  &--hidden {
    display: none;
  }
}

.price-table__plan {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  display: block;
}

.price-table__price {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: normal;
}


@media (min-width: $tablet-width) {
  .price-table {
    width: 620px;
    text-transform: none;
  }

  .price__table {
    transform: none;
  }

  .price-table__cell,
  .price-table__header {
    width: 122px;
  }

  .price-table__cell {
    font-size: 0;
    padding: 10px 18px 12px 15px;

    &--wide {
      display: table-cell;
      font-size: 14px;
    }
  }

  .price-table__image {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .price-table__header {
    text-transform: uppercase;
    padding: 12px 0 6px 0;

    &--hidden {
      display: block;
      visibility: hidden;
    }

    &--hit {
      overflow: hidden;

      &::before {
        left: -10px;
      }

      &::after {
        left: 2px;
        top: 0;
      }
    }
  }

  .price-table__plan {
    font-size: 16px;
  }

  .price-table__price {
    font-size: 18px;
  }

  .price__pager {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price-table {
    width: 940px;
  }

  .price-table__header {
    padding: 17px 0 19px 0;

    &--hit {
      &::before {
        left: 0;
      }

      &::after {
        left: 6px;
        top: 6px;
      }
    }
  }

  .price-table__plan {
    font-size: 18px;
  }

  .price-table__price {
    font-size: 24px;
  }

  .price-table__cell {
    font-size: 0;
    padding: 19px 18px 18px 21px;

    &--wide {
      font-size: 18px;
    }
  }
}
