.slider__list {
  margin-bottom: 30px;
}

.slider__switches {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 60px;
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__switch {
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border: 2px solid #bec2c7;
  border-radius: 50%;
}

.slider__switch_active {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid $mainColor;
  border-radius: 50%;
}
