.slider {
  position: relative;
}

.slider__list {
  margin-bottom: 36px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.slider__switches {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80px;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__switches_table {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__switch {
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: #7e868f;
  border: 2px solid #7e868f;
  border-radius: 50%;
  cursor: pointer;
  opacity: .3;
  transition: .3s;

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .1;
  }
}

.slider__switch_active {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid $mainColor;
  border-radius: 50%;
  opacity: 1;
}

.slider__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: .3;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: .1;
  }
}

.slider__button-right--svg {
  display: none;

    @media (min-width: $desktop-width) {
      position: absolute;
      top: 27px;
      right: 0;
      display: block;
    }
}

.slider__button-left--svg {
  display: none;

    @media (min-width: $desktop-width) {
      position: absolute;
      top: 27px;
      left: 0;
      display: block;
    }
}
