.social {
  @media (min-width: $tablet-width) {
    margin-top: 4px;
    margin-left: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 237px;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 52px;
  margin-bottom: 35px;
  padding: 0;
  width: 177px;
  text-align: center;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  transition: .3s;

    &:hover {
      border: 3px solid #000;
    }

    &:active {
      opacity: .1;
    }
}


